.background_wrapper {
  @apply relative overflow-hidden w-full h-full;
  background-image: url("/images/ComponentImages/Register/RegisterBackground.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.background_img {
  @apply h-screen;
}

.register_container {
  @apply w-full h-screen flex items-center justify-center;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.form_wrapper {
  @apply w-full sm:max-w-[480px] h-full sm:h-auto bg-[#313338] p-8 rounded-[5px];
}

.form {
  @apply w-full h-screen sm:h-auto flex flex-col;
}

.header h1 {
  @apply text-center text-white font-semibold text-[24px] leading-[30px] mb-2;
}

.header p {
  @apply text-center text-[#b5bac1] font-normal text-[16px] leading-[30px] mb-5;
}

.register {
  @apply text-[14px] text-[#949ba4] mt-1;
}

.register a {
  @apply text-[14px] text-[#00a8fc];
}

.form input {
  @apply max-h-[40px] bg-[#1E1F22] p-[10px] rounded-[4px] mb-5 outline-none text-[#B5BAC1] text-[16px];
}

.form input:last-of-type {
  @apply max-h-[40px] bg-[#1E1F22] p-[10px] rounded-[4px] mb-0 outline-none text-[#B5BAC1] text-[16px];
}

.form a {
  @apply text-[#00a8fc] text-[14px] mt-1;
}

.checkbox_accept_offer {
  @apply w-full flex mt-5;
}

.checkbox_accept_offer input[type="checkbox"] {
  @apply w-full max-w-[24px] h-[24px] m-auto;
  accent-color: #5865f2;
}

.checkbox_accept_offer p {
  @apply text-[12px] text-[#DBDEE1] leading-[16px] px-2;
}

.checkbox_accept_offer p a {
  @apply text-[#00a8fc] hover:underline;
}

.form label {
  @apply text-[#B5BAC1] text-[12px] mb-2 font-bold;
}

.form button {
  @apply bg-[#5865F2] rounded-[4px] text-white mt-5 p-2;
}
