h1 {
  font-size: clamp(24px, 5vw, 44px);
  line-height: 95%;
  text-transform: uppercase;
}

h2 {
  line-height: 120%;
  font-size: 32px;
  font-size: clamp(20px, 4vw, 40px);
}

.textMedium {
  font-size: 20px;
  font-size: clamp(16px, 2vw, 20px);
  line-height: 1.625;
}

.slide-in {
  opacity: 0;
  transition: opacity 700ms ease-in;
  /* transform: translateY(300px); */
  /* transition: transform 700ms ease-in; */
}

.slide-in.view {
  opacity: 1;
  /* transform: translateY(0px); */
}
